<h2>Editar Pelicula</h2>

<form action="/api/peliculas/id" method="POST">
    <div class="mb-3">
        <label for="lbl-title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="lbl-title" placeholder="Ingrese el titulo de la pelicula"/>
    </div>

    <div class="mb-3">
        <label for="lbl-year" class="form-label">Año</label>
        <input type="text" class="form-control" id="lbl-year" placeholder="Ingrese la fecha de la pelicula"/>
    </div>

    <button class="btn btn-warning">Editar Pelicula</button>
</form>